body{text-align:justify; background: #E0E0E0;}

.toolbar{position: fixed; top: 0px; left: 0px; right: 0px; padding:0 20px; height:43px; background:#e4ecef; color: #51818f;  border-bottom:1px solid #dadfe2; line-height:43px; text-align:right; z-index:1000;}
.toolbar a,.toolbar a:visited { color:#5F777E;}
.toolbar h2{ float: left; margin: 0px 20px; font-size: 16px; line-height: 43px; }


.loginform{text-align: center; padding-top: 200px;}
.loginform fieldset{width:400px; margin:0 auto; text-align: justify;}


b.icon-up{border-color:transparent transparent #B2B2B2 transparent; border-style:dashed dashed solid dashed; border-width: 5px; height: 0; overflow: hidden; position: absolute; width: 0; margin-left: 10px;left: 20px;top: 17px;}
b.icon-right{border-color:transparent transparent transparent #B2B2B2 ; border-style: dashed dashed dashed solid; border-width: 5px; height: 0; overflow: hidden; position: absolute; width: 0;left: 20px;top: 17px;}

.left-sidebar{ width: 18%;background: #fafafa;margin: 0;text-align: left:0; padding:45px 0px 0px; position: absolute; bottom: 0px; top: 0px; z-index: 1;}
.left-sidebar ul{padding:0px; background: #fafafa; margin:0px;}
.left-sidebar ul li { list-style: none; padding:0px 16px; position: relative;}
.left-sidebar ul li.has-children b.icon-right{position: absolute;right:20px;top:17px; left:auto;}
.left-sidebar ul li ul{display: none;}
.left-sidebar ul li ul li{ list-style: none; padding:0px; text-indent: 20px;}
.left-sidebar ul li a{color:#303030; height: 43px; margin: 0; font-size: 14px; line-height: 43px; display: block; padding:0px 20px; border-bottom: 1px solid #e5e5e5;}
.left-sidebar ul li a:hover{background: #7fd0ed;}
.left-sidebar ul li a.active{background: #e4ecef;}
.container{ position: absolute; background: #E0E0E0; top: 43px;right: 0px; bottom: 0px; overflow: auto; left:18%; z-index: 10; text-align: left; padding: 20px;}

fieldset{ border:2px solid #FFF; background: #FFF; line-height: 300%; padding:0px 20px 10px; margin-bottom: 20px; z-index: 10;}
fieldset legend{color: #51818F; font-size: 16px; }
fieldset label{width: 100px; text-align: right; display: inline-block; font-size: 14px; padding: 0px 20px; color: #333;}
fieldset .ui-toggle-switch label {padding:0; line-height: 45px;}
fieldset input[type='text'],fieldset input[type='password']{ border: 1px solid #C9C9C9; border-width: 0px 0px 1px; font-size: 14px; width: 200px; height: 24px; line-height: 24px; background: none; color: #333;}
fieldset .select input[type='text']{width: 100%;}
fieldset input[type='text'].title{width:400px;}
fieldset textarea.article{width:100%; height: 500px; font-size: 14px;}
fieldset input[type='text'].input-red{ border-color:#F00; color:#F00;}
.select { display: inline-block; width: 200px; height: 29px; position: relative;}
.select b.icon-downlist{position: absolute; bottom: 0px; right: 0px; border-color:transparent #B2B2B2 #B2B2B2 transparent; border-style: dashed solid solid dashed; border-width: 5px; height: 0; overflow: hidden; position: absolute; width: 0;}
select{width:200px;}
.select input.selected{cursor: default;}
.select ul{display: none; position: absolute; top: 22px;background: #FFF; width: 198px; padding: 0px; border: 1px solid #C9C9C9; border-width: 0px 1px 1px; z-index: 999; max-height: 300px; overflow: auto;}
.select ul li{ list-style: none; text-indent: 2px; cursor: default; height: 25px; line-height: 25px; z-index: 999;}
.select ul li:hover,.select ul li.focus{background: #7fd0ed;}
fieldset input[type="checkbox"]{position: relative; top: 3px; height: 15px; width: 15px; z-index: 10;}

fieldset ul { padding-left: 0px; }
fieldset ul li label{ font-size: 16px;}
fieldset ul li ul{border-top: 1px solid #CCC; margin-bottom: 20px;}
fieldset ul li ul li{ display: inline-block;}
fieldset ul li ul li label{ font-size: 14px;}

fieldset.submit{ text-align: center; padding: 10px;}
fieldset input[type='button']{ height: 32px; line-height: 32px; background: #DEDEDE; border: none; font-size: 14px; padding: 0 20px;}
fieldset input[type='button']:hover{ background:#7fd0ed; }
fieldset input[type='button']:focus{ color: #333; box-shadow:0px 0px 1px #333; }

.input-tips{ margin-left: 20px;position: absolute;}
.input-warning{ color:#F00;}

.msg { margin: 0 2px; padding: 5px 10px;}
.msg_warning { background:#FFA400;}
.msg_tips { background:#00A400; }

fieldset table{ border: 1px solid #E5E5E5; border-width: 1px 0px; overflow: hidden;}
fieldset table thead tr th { text-align: center; height: 43px;border-top: 1px solid #E5E5E5; background: #EEE; color:#333; }
fieldset table tr td { text-align: center; height: 43px;border-top: 1px solid #E5E5E5; position: relative; display: table-cell; }
fieldset table tr td div.r{position: relative; height: 100%; width: 0px; float:right; }
fieldset table tr:hover td {background:#7fd0ed;}
fieldset table tr td .do-list{display: block; position: absolute; right: 0px; height: 100%; width: 0px; top:0px; background: #000; background: rgba(0,0,0,0.8);}
fieldset table tr td .do-list a{display: inline-block; width: 80px; height: 43px; line-height: 43px; color:#CCC; font-size: 14px; cursor: pointer;}
fieldset table tr td.order input[type="text"]{text-align: center; width: 50px;}
fieldset table tr td b.icon-up{margin-left: 10px;}
fieldset .filterItem{ float: left; width: 350px; }
fieldset .filterItem.long{ float: left; width: 440px;}
@-webkit-keyframes loading {
     0% {
      opacity: 0.3;
     }
     50% {
      opacity: 1;
     }
     100% {
      opacity: 0.3;
     }
 }
.uploadFileLoading, .uploadImageLoading{
  color:#333;
  display: none;
  overflow: hidden;
  padding: 0px 10px;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count:infinite;
}

.imageItem{float: left; width: 200px; overflow: hidden; text-align: center; margin:10px; padding:10px; line-height: 150%; position: relative; font-size: 14px;}
.imageItem input[type="radio"]{ position: relative; top: 3px; margin-right: 3px;}
.imageItem .closeBtn{ display: none; position: absolute; top: 0px; right:0px; width: 20px; height: 20px;}
.imageItem{ background:#E4ECEF;}
.imageItem:hover .closeBtn{ display: block;}
.imageItem:hover .img{ opacity: 0.5;}
.imageItem .img{ height: 150px; width: 200px; overflow: hidden; margin-bottom: 25px;}
.imageItem img{ height: 150px;}

.closeBtn{ width: 20px; height: 20px; overflow: hidden; cursor: pointer; position: absolute;}
.closeBtn:hover{background: #454545;}
.closeBtn b.closeBtnTop{ border-color: #7fd0ed transparent transparent transparent; border-style:solid dashed dashed dashed; border-width: 8px; height: 0; overflow: hidden; position: absolute; width: 0;left: 2px;top: 0px;}
.closeBtn b.closeBtnRight{ border-color:transparent #7fd0ed transparent transparent; border-style:dashed solid dashed dashed; border-width: 8px; height: 0; overflow: hidden; position: absolute; width: 0;right: 0px;top: 2px;}
.closeBtn b.closeBtnBottom{ border-color:transparent transparent #7fd0ed transparent; border-style:dashed dashed solid dashed; border-width: 8px; height: 0; overflow: hidden; position: absolute; width: 0;left: 2px;bottom: 0px;}
.closeBtn b.closeBtnLeft{ border-color:transparent transparent transparent #7fd0ed; border-style:dashed dashed dashed solid; border-width: 8px; height: 0; overflow: hidden; position: absolute; width: 0;left: 0px;top: 2px;}


.fileItem{float: left; text-align: center; margin:10px; padding:0px 30px 0px 10px; line-height: 100%; position: relative; font-size: 14px;}
.fileItem .fileName{ color: #333; font-weight: bold; margin: 0px 10px; font-size: 14px;}
.fileItem input[type="radio"]{ position: relative; top: 3px; margin-right: 3px;}
.fileItem .closeBtn{ display: none; position: absolute; top: 0px; right:0px; width: 20px; height: 20px;}
.fileItem{ background:#E4ECEF;}
.fileItem:hover .closeBtn{ display: block;}
.configBtn{width: 30px; height: 20px; color: #7fd0ed; background: #454545; margin: 0;padding: 0px; line-height: 20px; text-align: center;}
.configBtn:hover{background: #7fd0ed; color: #454545;}
tr:hover td.pagenav{ background: none;}
.pagenav{ text-align: right;}
.pagenav span.count{ float: left;}
.pagenav a{display: inline-block; padding: 0px 10px; height: 30px; line-height: 30px; background: #e4ecef; color:#333; cursor: pointer;}
.pagenav a:hover,.pagenav a.on{ background: #7fd0ed;}
.pagenav a:hover{ color: #FFF;}

.index-config .item{border:1px solid #CDCDCD; padding: 5px 10px; cursor: pointer; }
.index-config .item:hover{background:#CDCDCD;}
.index-config .previous{width: 501px; border:1px solid #CCC; min-height: 200px;}
.index-config .previous-item{ width: 157px; border-top: 2px solid #ABCDEF; height:150px; background: #FFF; margin: 5px; float:left; position: relative;}
.index-config .previous-item.double-width{width: 324px;}
.index-config .previous-item.three-width{width: 491px;}
.index-config .previous-item.half-height{height: 75px;}
.index-config .previous-item .title{background:#ABCDEF; font-size: 7px; height: 20px; line-height: 20px; float: left; padding: 0px 5px; margin: 0px 20px; overflow: hidden;}
.index-config .previous-item .item-config{  position: absolute;  top: 0;  right: 0;  left: 0;  bottom: 0;  background: RGBA(15,36,130,0.1);  cursor: pointer;}
.index-config .previous-item .item-config .closeBtn{ right: 0px; top: 0px;}
.index-config .previous-item .item-config .configBtn{ position: absolute; right: 0px; bottom: 0px;}
.pageColorSel option span{  width: 25px;  height: 25px;  background: #000;}