{include file='header.html'}
<div class="container article-container">
  <div class="fl clearfix">
    <div class="article has-right-side">
        <div class="article-category"><a href="?act={$categoryInfo.cg_type}&c={$categoryInfo.cg_id}">{$categoryInfo.cg_name}</a></div>
      {if $articles}
        {include file='shared/article-list.tpl'}
      {/if}
      {if $article}
        {include file='shared/article-content.tpl'}
      {/if}
    </div>
    <div class="right-side clearfix">
        {include file='shared/right-side.tpl'}
    </div>
    <div class="c"></div>
  </div>
  <div class="c"></div>
</div>
{include file='footer.html'}