  <div class="footer">
    &copy; 2013 {$web_name} <a href="/admin/">管理</a>
  </div>
</body>
  <script type="text/javascript" src="/template/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/template/javascripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/template/javascripts/jquery.imgpreload.min.js"></script>
  <script type="text/javascript" src="/template/javascripts/jquery-ui.toggleSwitch.js"></script>
  <script type="text/javascript" src="/template/javascripts/modules.js"></script>
  <script type="text/javascript" src="/template/javascripts/common.js"></script>
</html>