</body>
  <script type="text/javascript" src="/template/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/template/javascripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/template/javascripts/jquery.imgpreload.min.js"></script>
  <script type="text/javascript" src="/template/javascripts/jquery-ui.toggleSwitch.js"></script>
  <script type="text/javascript" src="/template/javascripts/modules.js"></script>
  <script type="text/javascript" src="/template/javascripts/common.js"></script>
</html>