<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{$web_action}-{$web_name}</title>
  <link rel="stylesheet" href="/template/stylesheets/normalise.css">
  <link rel="stylesheet" href="/template/stylesheets/jquery-ui.css">
  <link rel="stylesheet" href="/template/stylesheets/base.css">
  <link rel="stylesheet" href="/template/stylesheets/page.css">
  <script src="/template/javascripts/modernizr-2.0.6.min.js"></script>
</head>
<body>
<div class="header">
  <a class="cqupt" href='http://www.cqupt.edu.cn' target='_blank'><img src="/images/cqupt.png" /></a>
  {include file='shared/nav.tpl'}
  <div class="c"></div>
  <a class="logo" href='/'>微电子学</a>
</div>