.ruby-version
.gout*
vendor/local_libs/
config/scale_think_sns.yml
config/shards/daily_counters.json
config/shards/installations.json
config/shards/app_counters.json
config/redis_cache.yml
config/db_cache.yml
config/newrelic.yml
config/environments/development.rb
config/initializers/hoptoad.rb
coverage/
*.swo
*.swp
*.swo
*.swn
config/mongoid.yml
config/hbase.yml
config/overrides.yml
config/db_cache.yml
.bundle
nbproject
.project
*~
*#
.#*
temp/
upload/
._.DS_Store