</body>
  <script type="text/javascript" src="{$ROOT_PATH}/template/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="{$ROOT_PATH}/template/javascripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{$ROOT_PATH}/template/javascripts/jquery.imgpreload.min.js"></script>
  <script type="text/javascript" src="{$ROOT_PATH}/template/javascripts/jquery-ui.toggleSwitch.js"></script>
  <script type="text/javascript" src="{$ROOT_PATH}/template/javascripts/modules.js"></script>
  <script type="text/javascript" src="{$ROOT_PATH}/template/javascripts/common.js"></script>
  <script type="text/javascript" src="/template/javascripts/common.js"></script>
  <script charset="utf-8" src="{$ROOT_PATH}/plugins/kindeditor/kindeditor-min.js"></script>
  <script charset="utf-8" src="{$ROOT_PATH}/plugins/kindeditor/lang/zh_CN.js"></script>
</html>

