{include file='admin/header.html'}
<div class="container">
  {if $msg}
  <div class="msg msg_{$msg.type}">
    {$msg.msg}
  </div>
  {/if}

  <form id="addPage" method='post'>
    <fieldset>
      <legend>{$web_action}</legend>
      <label for="addArticleTitle">文章标题: </label>
      <input id="addArticleTitle" class="title" type="text" name="title" checkVal="notnull" value="{if $article}{$article.a_title}{/if}" /><br />
      <label for="addArticleCategory">所属类别: </label>
      <select id="addArticleCategory" name="category" checkVal="notNull">
        <option value="0">无</option>
        {foreach from=$allCategory key=k item=v}
        <option value="{$v.cg_id}" {if $article.a_category eq $v.cg_id}selected="selected"{/if}>{$v.cg_name}</option>
        {/foreach}
      </select><br />
      <label for="addArticleStatus">是否发布: </label>
      <select id="addArticleStatus" name="status" class="switch">
        <option value="locked" {if $article.a_status == 'locked'}selected="selected"{/if}>否</option>
        <option value="published" {if $categoryInfo.cg_public == 'published' || $categoryInfo.cg_public != 'locked'}selected="selected"{/if}>是</option>
      </select>
      <br />
    </fieldset>
    <fieldset>
      <legend>文章内容</legend>
      <textarea id="addArticleContent" name="content" class="article" checkVal="notnull">
        {if $article}{$article.a_content}{/if}

      </textarea>
    </fieldset>
    <fieldset class="submit">
      <input type="button" id="pageReset" value="取消" />
      <input type="button" id="pageSubmit" value="提交" />
    </fieldset>
  </form>
</div>
{include file='admin/footer.html'}
{literal}
<script charset="utf-8" src="/plugins/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="/plugins/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript">
$(function(){
  var editor;
  KindEditor.ready(function(K) {
    editor = K.create('#addArticleContent', {
      uploadJson : '../ajax/upload.php',
      fileManagerJson : '../ajax/file_manager.php',
      width:'100%',
      height:'500px',
      afterBlur:function(){this.sync()},
      zIndex:99,
      resizeType:0,
      afterCreate : function() {
        var self = this;
        K.ctrl(document, 13, function() {
          self.sync();
          checkForm($('#addPage'));
        });
        K.ctrl(self.edit.doc, 13, function() {
          self.sync();
          checkForm($('#addPage'));
        });
      }
    });
});
  $('#pageSubmit').click(function(){
    checkForm($('#addPage'));
  });
})
</script>
{/literal}